.ForgetPassword{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: red;
    width: 500px;
    margin: 10% auto;
    min-height: 600px;
    color: #595757;
}
.FPtitle{
    display: flex;
    align-items: center;
    justify-content: center;
}
.formFP{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    /* width: 100%; */
}
.formFP input{
    width: 100%;
    height: 2rem;
    padding: 0.5rem;
    border-radius: 15px;
}
.formFP label{
    padding: 0.5rem 0rem;
}